<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<v-toolbar dark color="#455B66" style="font-family: roboto;">
			<v-toolbar-side-icon></v-toolbar-side-icon>
			<v-toolbar-title id="php" style="cursor: pointer;" class="display-1 font-weight-light">Hypertube</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-toolbar-items class="hidden-sm-and-down">
				<v-text-field
				hide-details
				prepend-icon="search"
				single-line
				id = "search_input"
				></v-text-field>
				<v-btn flat v-on:click="window.location.replace('/');" color="#342A21">Movies</v-btn>
				<v-btn flat v-on:click="window.location.replace('/tv');">Tv shows</v-btn>
				<v-btn flat v-on:click="window.location.replace('/stats');">Stats</v-btn>
				<v-btn flat v-on:click="window.location.replace('/update');">Update</v-btn>
				<v-btn flat v-on:click="window.location.replace('/logout')">logout</v-btn>
			</v-toolbar-items>
		</v-toolbar>
		<template>
			<v-container text-xs-center>
				<v-layout row wrap>
					<v-flex xs12>
						<v-card color="#263238">
							<v-card-text class="display-3 font-weight-light"><%= data.title %></v-card-text>
							<video id='my-video' class="video-js vjs-default-skin vjs-big-play-centered" controls preload='auto' width="950" height="450" style="display: block; margin: 0 auto;" poster="<%= data.background_image %>" data-setup='{}'>
							<source src="/stream?url=<%= path %>" type='video/mp4'>
							<!-- <track kind="captions" src="/srt/<%= data.imdb_code %>-en/sub.vtt" srclang="en" label="English" default> -->
							<track kind="captions" src="/srt/<%= data.imdb_code %>-<%= language %>/sub.vtt" label="<%= language %>" default>
							</video>
								<v-card-text class="body-1 mt-4 font-weight-light" style="color: white;"><%= data.description_intro %></v-card-text>
								<div class="text-xs-center mt-2">
									<v-rating></v-rating>
								</div>
							</v-card>
						</v-flex>
					</v-layout>
					<v-flex elevation-2 mt-4>
						<v-layout row xs8 offset-xs1>
							<v-flex xs8 offset-xs1>
								<v-textarea
									v-model="message"
									hint="message need to be 4-200 chars"
									label="Type your comment here.."
								></v-textarea>
							</v-flex>
							<v-flex mt-5>
								<v-btn secondary v-on:click="add_comment();">Submit</v-btn>
							</v-flex>
						</v-layout>
						<v-layout row wrap>
							<v-flex v-for="elem in messages" xs10 offset-xs1 my-4 style="border-bottom: 1px solid black">
								<v-layout row>
									<v-flex class="person" shrink>
										<v-flex mt-2 ml-2>
											<v-img :src="elem.img" aspect-ratio="1" style="max-width: 100%; border-radius: 50%; object-fit: cover;">
										</v-flex>
										<v-flex ml-3 mb-2 title font-weight-regular v-on:click="goto_user(elem.oauth, elem.user_id);" style="color: #e3f2fd; cursor: pointer;">{{ elem.username }}</v-flex>
									</v-flex>
									<v-layout column>
										<v-flex ml-4 font-weight-light text-xs-right mr-5>{{ elem.time }}</v-flex>
										<v-flex class="content" grow text-xs-left offset-xs1 font-weight-light title style="color: #e3f2fd;">{{ elem.message }}</v-flex>
									</v-layout>
								</v-layout>
							</v-flex>
						</v-layout>
						<!-- <v-btn color="info">Load more</v-btn> -->
					</v-flex>
				</v-container>
			</template>
		</v-app>
		<script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="/js/movie.js">
		</script>
	</body>
	</html>
