<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.1/vuetify.css" rel="stylesheet">
	<link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<style>
	@media screen and (min-width: 1260px) {
		#my-video {
			width: 1100px;
			height: 500px;
		}
	}
	@media screen and (max-width: 1260px) {
		#my-video {
			width: 500px;
			height: 300px;
		}
	}
	@media screen and (max-width: 600px) {
		#my-video {
			width: 400px;
			height: 250px;
		}
	}
	@media screen and (max-width: 450px) {
		#my-video {
			width: 300px;
			height: 200px;
		}
	}
	</style>
</head>
<body>
	<v-app id="app" style="background: #263238;">
		<template>
			<v-toolbar dark color="#455B66" style="font-family: roboto;">
		      <v-toolbar-title class="hidden-sm-and-down" id="home" style="cursor: pointer" class="display-1 font-weight-light">Hypertube</v-toolbar-title>
			  <v-flex style="margin-left: 10%;">
				  <v-text-field
				  hide-details
				  prepend-icon="search"
				  single-line
				  id = "search_input"
				  style="width: 70%;"
				  ></v-text-field>
			  </v-flex>
		      <v-spacer></v-spacer>
		      <v-toolbar-items class="hidden-sm-and-down">
		         <v-btn
		          v-for="item in menu"
		          :href="item.href"
		          flat
		        >{{ item.title }}</v-btn>
		      </v-toolbar-items>
		      <v-menu dark color="#455B66" class="hidden-md-and-up">
		        <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>
		        <v-list>
		          <v-list-tile v-for="item in menu" :key="item.icon">
		            <v-list-tile-content>
		              <v-list-tile-title><a :href="item.href">{{ item.title }}</a></v-list-tile-title>
		             </v-list-tile-content>
		          </v-list-tile>
		        </v-list>
		      </v-menu>
		    </v-toolbar>
			<v-container text-xs-center>
				<v-layout row wrap>
					<v-flex xs12>
						<v-card color="#263238">
							<v-card-text class="display-3 font-weight-light"><%= data.title %></v-card-text>
									<video id='my-video' class="video-js vjs-default-skin vjs-big-play-centered" controls preload style="margin: 0 auto;" poster="<%= data.background_image %>" data-setup='{}'>
										<source src="/stream?url=<%= path %>" type='video/mp4'>
										<%
										if (language != null) {
											%>
												<track kind="captions" src="/srt/<%= data.imdb_code %>-<%= language %>/sub.vtt" label="<%= language %>" default>
											<%
										}
										%>
									</video>
								<v-card-text class="body-1 mt-4 font-weight-light" style="color: white;"><%= data.description_intro %></v-card-text>
								<div class="text-xs-center mt-2">
									<v-rating></v-rating>
								</div>
							</v-card>
						</v-flex>
					</v-layout>
					<v-flex elevation-2 mt-4>
						<v-layout row xs8 offset-xs1>
							<v-flex xs8 offset-xs1>
								<v-textarea
									v-model="message"
									hint="message need to be 4-200 chars"
									label="Type your comment here.."
								></v-textarea>
							</v-flex>
							<v-flex mt-5>
								<v-btn secondary v-on:click="add_comment();">Submit</v-btn>
							</v-flex>
						</v-layout>
						<v-layout row wrap>
							<v-flex v-for="elem in messages" xs10 offset-xs1 my-4 style="border-bottom: 1px solid black">
								<v-layout row>
									<v-flex class="person" shrink>
										<v-flex mt-2 ml-2>
											<v-img :src="elem.img" aspect-ratio="1" style="max-width: 100%; border-radius: 50%; object-fit: cover;">
										</v-flex>
										<v-flex ml-3 mb-2 title font-weight-regular v-on:click="goto_user(elem.oauth, elem.user_id);" style="color: #e3f2fd; cursor: pointer;">{{ elem.username }}</v-flex>
									</v-flex>
									<v-layout column>
										<v-flex ml-4 font-weight-light text-xs-right mr-5>{{ elem.time }}</v-flex>
										<v-flex class="content" grow text-xs-left offset-xs1 font-weight-light title style="color: #e3f2fd;">{{ elem.message }}</v-flex>
									</v-layout>
								</v-layout>
							</v-flex>
						</v-layout>
						<!-- <v-btn color="info">Load more</v-btn> -->
					</v-flex>
				</v-container>
			</template>
		</v-app>
		<script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.10/dist/vuetify.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="/js/movie.js">
		</script>
		<style scoped>
			a {
				text-decoration: none;
				color: white;
			}
		</style>
	</body>
	</html>
